@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 400px;
  padding: 40px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 0px 10px 25px -8px #000;
}

.container h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container .form-group {
  margin-bottom: 20px;
}

.container label {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.container input[type="submit"] {
  padding: 10px 20px;
  background-color: #0079ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #0062cc;
}

.container .forgot-password a {
  color: #0079ff;
  text-decoration: none;
}

.container .forgot-password a:hover {
  text-decoration: underline;
}
